freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/nukleus/tas_1.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/nukleus/orog.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/nukleus/pr_1.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/nukleus/tas_2.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/nukleus/pr_2.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/cordex/output/EUR-11/CLMcom/MPI-M-MPI-ESM-LR/historical/r0i0p0/CLMcom-CCLM4-8-17/v1/fx/orog/v20140515/orog_EUR-11_MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-CCLM4-8-17_v1_fx_another.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/obs/reanalysis/reanalysis/NOAA/NODC/OC5/mon/ocean/Omon/r1i1p1/v20200101/hc700/hc700_mon_NODC_OC5_r1i1p1_201201-201212.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/global/cmip6/CMIP6/CMIP/CSIRO-ARCCSS/ACCESS-CM2/amip/r1i1p1f1/Amon/ua/gn/v20191108/ua_Amon_ACCESS-CM2_amip_r1i1p1f1_gn_197001-201512.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock_broken/bears.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/cordex/output/EUR-11/CLMcom/MPI-M-MPI-ESM-LR/historical/r1i1p1/CLMcom-CCLM4-8-17/v1/daypt/tas/v20140515/tas_EUR-11_MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-CCLM4-8-17_v1_daypt_194912011200-194912101200.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/cordex/output/EUR-11/CLMcom/MPI-M-MPI-ESM-LR/historical/r0i0p0/CLMcom-CCLM4-8-17/v1/fx/orog/v20140515/orog_EUR-11_MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-CCLM4-8-17_v1_fx.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/global/cmip6/CMIP6/CMIP/MPI-M/MPI-ESM1-2-LR/amip/r2i1p1f1/Amon/ua/gn/v20190815/ua_mon_MPI-ESM1-2-LR_amip_r2i1p1f1_gn_197901-199812_another.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/regional/cordex/output/EUR-11/GERICS/NCC-NorESM1-M/rcp85/r1i1p1/GERICS-REMO2015/v1/3hr/pr/v20181212/pr_EUR-11_NCC-NorESM1-M_rcp85_r1i1p1_GERICS-REMO2015_v2_3hr_200701020130-200701020430.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/global/cmip6/CMIP6/CMIP/CSIRO-ARCCSS/ACCESS-CM2/amip/r1i1p1f1/Amon/ua/gn/v20201108/ua_Amon_ACCESS-CM2_amip_r1i1p1f1_gn_197901-201412.nc filter=lfs diff=lfs merge=lfs -text
freva-rest/src/freva_rest/databrowser_api/mock/data/model/global/cmip6/CMIP6/CMIP/MPI-M/MPI-ESM1-2-LR/amip/r2i1p1f1/Amon/ua/gn/v20190815/ua_mon_MPI-ESM1-2-LR_amip_r2i1p1f1_gn_197901-199812.nc filter=lfs diff=lfs merge=lfs -text
